@font-face {
    font-family: "montserrat-300";
    src: url("../font/Montserrat/static/Montserrat-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    font-family: "montserrat-300";
}

* ::-webkit-scrollbar {
    display: none;
}



body {
    background-color: #000;
}

.blur_effect {
    background-color: #000;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#header {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: white;
    display: inline-block;
    z-index: 10000;
}

#header img {
    height: 100%;
    width: auto;
    margin-left: 7vw;
    margin-top: 0vh;
}

#header nav {
    width: 80%;
    height: 100%;
    float: right;
}

#header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#header nav ul li a {
    text-decoration: none;
    color: black;
}


#best-movie {
    height: 90vh;
    width: 100%;
    top: 9vh;
    z-index: 100;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#fourth_col {
    border-right: none;
}


#best_movie_announcement {
    float: left;
    text-align: center;
    width: 70%;
}


#best-movie>img {
    height: 80%;
    width: auto;
    float: right;
}

#best_movie_title {
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

#best_movie_button_container {
    float: left;
    height: 250px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}

#best_movie_image_container {
    width: 30%;
    height: 90%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

}

#best_movie_image_container>img {
    width: auto;
    height: 90%;

}

#best_movie_button_container>button {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 20%;
    cursor: pointer;
}

.best_movie_title {
    color: white;
    height: 10%;
    width: 100%;
    margin-top: 5vh;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
}

#main {
    position: absolute;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8vh;
    justify-content: center;
}

.section_slider_container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 300px;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 15vh;
    justify-content: center;
}

swiper-container {
    width: 80%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#sliders_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    align-content: stretch;
    background-image: linear-gradient(110.1deg, rgba(30, 2, 83, 1) 44.2%, rgba(198, 55, 160, 1) 138.2%);
}


.categories_title {
    text-transform: capitalize;
    width: 100%;
    text-align: left;
    padding-left: 10%;
    color: whitesmoke;
}


#display_movie_infos {
    position: fixed;
    display: none;
    width: 90%;
    height: 90%;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    z-index: 100000;
    right: 5vw;
    justify-content: start;
    top: 9vh;
    border: 3px solid darkgray;
}

#movie_title {
    height: 7vh;
    width: 70%;
    text-align: center;
    float: left;
    margin-top: 2vh;
}

#display_movie_infos>img {
    height: 250px;
    width: auto;
    float: right;
    margin-right: 4vw;
}

#display_movie_infos>h2 {
    margin-top: 2vh;
    width: 100%;
    height: 5vh;
    text-align: center;
}


#movie_description {
    min-height: 30vh;
    max-height: 33vh;
    overflow: scroll;
    margin-top: 2vh;
    width: 60%;
    margin-left: 6%;
    text-align: center;
    line-height: 2;
    font-size: 13px;
    align-items: center;
    display: flex;
    padding: 5px;
}

#movie_date_container {
    width: 100%;
}

#infos_container {
    display: flex;
    justify-content: space-around;
    width: 69%;
    height: 100%;
    float: right;

}

.columns {
    justify-content: center;
    width: 33%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid white;
}

.info_container {
    justify-content: space-around;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
}

.info_container>span {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.info_container>p {
    width: 100%;
    text-align: center;
    font-size: 13px;
}

#actors_container {
    display: flex;
    width: 30%;
    height: 100%;
    float: left;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 1px solid white;
}

#actors_container>span {
    font-weight: 600;
    height: 10%;
}

.infos_title {
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#genres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

.genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.genres li {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
}

.actors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    height: 90%;
    width: 100%;
}

.actors li {
    width: 47%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 0.8rem;
}

.info_title {
    width: 100%;
    text-align: center;
}

#movie_data {
    display: inline-block;
    height: 43vh;
    width: 100%;
    margin-top: 3vh;
}

#close_button {
    height: 6vh;
    width: 3vw;
    position: absolute;
    right: 0vw;
    top: 0;
    z-index: 100;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

[class*="swiper-button-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem !important;
    position: relative;
    right: 0;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

[class*="swiper-button-"]:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}